@import 'lib/reset.min';
@import 'media_queries';
@import 'colors';
@import 'typography';
@import 'base';
@import 'layout';
@import 'responsive';

.toc {
  width: 69rem;
  padding: 6rem 0;
  margin: 0 auto;
  li {
    opacity: .5;
    @extend .mono;
    margin-left: 6rem;
    margin-bottom: .5rem;
    position: relative;
    &.toc-section {
        opacity: 1;
    }
    &:before {
      color: gray;
      content: attr(data-toc);
      position: absolute;
      @extend .mono;
      left: -6rem;
      width: 3rem;
      text-align: right;
    }
  }
}

header {
  padding: 2rem 6rem;
  width: 90%;
  max-width: $content-width;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  }
  h1, span {
    position: relative;
    z-index: 2;
  }
  span {
    float: right;
  }
  &:before {
    content: '';
    width: $content-width;
    height: $content-width;
    border-radius: 100%;
    left: 0;
    top: -1rem;
    position: absolute;
    z-index: 0;
  }
  &:after {
    content: '';
    width: $content-width;
    height: 1rem;
    background: $white;
    top: 12rem;
    left: 0;
    position: absolute;
    z-index: 0;
  }
}

.circle-yellow::before {
  background: $yellow;
}

.circle-pink::before {
  background: $pink;
}

.circle-maroon::before {
  background: $maroon;
}

.circle-gray::before {
  background: $gray;
}

.article-wrapper {
  z-index: 2;
  position: relative;
  // margin: 6rem 2rem;
  padding: 6rem 0;
  &.dark {
    background: $black;
    color: $tan;
  }
}

article {
  max-width: $content-width;
  margin: 0 auto;
}

p {
  max-width: 39rem;
  margin-left: 6rem;
}
h2, .h2 {
  position: relative;
  margin-left: 6rem;
  &:before {
    content: attr(data-toc);
    position: absolute;
    @extend .mono;
    left: -6rem;
    top: .5rem;
    width: 3rem;
    text-align: right;
    opacity: .5;
  }
}

img {
  width: 100%;
  max-width: 51rem;
  filter: grayscale(50%);
  margin: 2rem 0;
}

.full-width {
  max-width: 100%;
}

.next {
  width: 69rem;
  margin: 6rem auto;
  a {
    @extend .h2;
    color: $maroon;
    width: 100%;
    &:after {
      content: "››››››››››››››››››››››››››››››››››";
      letter-spacing: 4rem;
      margin-left: 4rem;
    }
  }

}

.dark {
  background: $black;
  h1, h2, p, .mono, .toc {
    color: $tan;
  }
}

.light {
  background: $tan;
  h1, h2, p, .mono, .toc {
    color: $black;
  }
}
