{{#extend "base"}}
{{#content "main" mode="prepend"}}

<div class="intro dark">
  <div class="toc">
    <ul>
      <li data-toc="‹"><a href="/">About</a></li>
    </ul>
  </div>
  <header class="circle-maroon">
    <h1>Workshops</h1>
  </header>
</div>

<div class="article-wrapper light">
  <article>
    <p>Individual Studies is a program that enables students to combine courses to design a unique interdisciplinary major. Innovator holy grail twitter actionable product management user centered design assets venture monetization twitter sales. Affordances bandwidth funding big data network effects learning curve business-to-consumer responsive web design conversion scrum project infographic shadow infrastructure Steve Jobs social media! Infographic vesting period investor grok workflow technology prototype deployment release branding marketing 360 campaign moleskine graphical user interface.</p>

    <h2 data-toc="i">UI Animation + Motion Design<br><span class="sub">@ Terrapin Hackers</span></h2>
    <iframe width="1380" height="776" src="https://www.youtube.com/embed/ubKiOVqsM-o?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    <iframe src="https://docs.google.com/presentation/d/1__JgmOR--wu8DdosIv_uO-eWDvBAZG8E0feZOxgamWA/embed?start=false&loop=true&delayms=3000" frameborder="0" width="1380" height="805" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

    <h2 data-toc="ii">Thinking Like A Designer<br><span class="sub">@ Pearl Hacks</span></h2>
    <iframe src="https://docs.google.com/presentation/d/1xwYB3ztHJ5W4VSOFPSNvGVtOiHNfebf8iui2pdiyIvg/embed?start=false&loop=true&delayms=3000" frameborder="0" width="1380" height="891" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

    <h2 data-toc="iii">Designing With Grids<br><span class="sub">@ Terrapin Hackers</span></h2>
    <iframe width="1380" height="776" src="https://www.youtube.com/embed/MB-wwUv5UYM?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    <iframe src="https://docs.google.com/presentation/d/1IsKiBARJwt741W30dczVqNT4-ZeKthQRJGiKt9LNqO0/embed?start=false&loop=true&delayms=3000" frameborder="0" width="1380" height="805" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>


    <h2 data-toc="iv">Preparing For Design Interviews<br><span class="sub">@ Bitcamp</span></h2>
    <img class="full-width" src="/img/talk-bitcamp.jpg">

    <h2 data-toc="v">Architecture x Design<br><span class="sub">@ School of Architecture</span></h2>
    <img class="full-width" src="/img/talk-austin.jpg">

    <h2 data-toc="vi">Mobile UI / UX Design<br><span class="sub">@ AIGA UMD</span></h2>
    <iframe width="1380" height="776" src="https://www.youtube.com/embed/CVnsXxQaEA4?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    <iframe src="https://docs.google.com/presentation/d/1BUHPlzxlyq17g6wfsVvGega0mUGUYnqEjYOLNzVf_rw/embed?start=false&loop=true&delayms=3000" frameborder="0" width="1380" height="805" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

  </div>

  <div class="next">
    <a data-toc="2" href="/interviews">Interviews</a>
  </div>

  {{/content}}
  {{/extend}}
