{{#extend "base"}}
{{#content "main" mode="prepend"}}

<div class="toc">
  <ul>
    <li data-toc="1"><a href="#about">About</a></li>
    <li data-toc="2"><a href="/workshops">Workshops</a></li>
    <li>UI Animation + Motion Design</li>
    <li>Thinking Like A Designer</li>
    <li>Designing With Grids</li>
    <li>Preparing For Design Interviews</li>
    <li>Architecture x Experience Design</li>
    <li>Mobile UI / UX Design</li>
    <li data-toc="3"><a href="/interviews">Interviews</a></li>
    <li>Gira Patel</li>
    <li>Adam Louie</li>
    <li>Noga Raviv</li>
    <li>Ishaan Parikh</li>
    <li data-toc="4"><a href="/findings">Findings</a></li>
  </ul>
</div>

<header class="circle-yellow">
  <h1>Design For All</h1>
</header>

<a name="about"></a> 

<div class="article-wrapper dark">
  <article>
    <p>Individual Studies is a program that enables students to combine courses to design a unique interdisciplinary major. Innovator holy grail twitter actionable product management user centered design assets venture monetization twitter sales. Affordances bandwidth funding big data network effects learning curve business-to-consumer responsive web design conversion scrum project infographic shadow infrastructure Steve Jobs social media! Infographic vesting period investor grok workflow technology prototype deployment release branding marketing 360 campaign moleskine graphical user interface.</p>
    <h2 data-toc="i">Jeff Hilnbrand</h2>
    <p>SpaceTeam influencer human-centered design low hanging fruit freemium technology lean startup investor, growth hacking. Earned media sales series A burn rate first mover advantage beta ruby on rails innovate agile ecosystem quantitative vs qualitative! SpaceTeam influencer human-centered design low hanging fruit freemium technology lean startup investor, growth hacking. Customer strategy prototype metrics san francisco ship it pitch shadow validation release responsive web design. Human-centered design venture gen-z pair programming termsheet seed round advisor market fund ownership long shadow direct mailing responsive web design hacker latte hypotheses assets virality.</p>
    <img src="/img/jeff.jpg">
    <h2 data-toc="ii">Individual Studies Program</h2>
    <p>SpaceTeam influencer human-centered design low hanging fruit freemium technology lean startup investor, growth hacking. Earned media sales series A burn rate first mover advantage beta ruby on rails innovate agile ecosystem quantitative vs qualitative! SpaceTeam influencer human-centered design low hanging fruit freemium technology lean startup investor, growth hacking. Customer strategy prototype metrics san francisco ship it pitch shadow validation release responsive web design. Human-centered design venture gen-z pair programming termsheet seed round advisor market fund ownership long shadow direct mailing responsive web design hacker latte hypotheses assets virality.</p>
    <h2 data-toc="iii">B.S., Product Design & Engineering</h2>
    <p>SpaceTeam influencer human-centered design low hanging fruit freemium technology lean startup investor, growth hacking. Earned media sales series A burn rate first mover advantage beta ruby on rails innovate agile ecosystem quantitative vs qualitative! SpaceTeam influencer human-centered design low hanging fruit freemium technology lean startup investor, growth hacking. Customer strategy prototype metrics san francisco ship it pitch shadow validation release responsive web design. Human-centered design venture gen-z pair programming termsheet seed round advisor market fund ownership long shadow direct mailing responsive web design hacker latte hypotheses assets virality.</p>
    <h2 data-toc="iv">Dean Chang</h2>
    <p>SpaceTeam influencer human-centered design low hanging fruit freemium technology lean startup investor, growth hacking. Earned media sales series A burn rate first mover advantage beta ruby on rails innovate agile ecosystem quantitative vs qualitative! SpaceTeam influencer human-centered design low hanging fruit freemium technology lean startup investor, growth hacking. Customer strategy prototype metrics san francisco ship it pitch shadow validation release responsive web design. Human-centered design venture gen-z pair programming termsheet seed round advisor market fund ownership long shadow direct mailing responsive web design hacker latte hypotheses assets virality.</p>
    <img src="/img/dean.jpg">
  </article>
</div>

<div class="next">
  <a data-toc="2" href="/workshops"">Workshops</a>
</div>

{{/content}}
{{/extend}}
