    <div class="toc">
      <ul>
          <li class="toc-section" data-toc="0"><a href="#about">About</a></li>
          <li class="toc-section" data-toc="1"><a href="/workshops">Workshops</a></li>
          <li>UI Animation + Motion Design</li>
          <li>Thinking Like A Designer</li>
          <li>Designing With Grids</li>
          <li>Preparing For Design Interviews</li>
          <li>Architecture x Experience Design</li>
          <li>Mobile UI / UX Design</li>
          <li class="toc-section" data-toc="2"><a href="/interviews">Interviews</a></li>
          <li>Gira Patel</li>
          <li>Adam Louie</li>
          <li>Noga Raviv</li>
          <li>Ishaan Parikh</li>
          <li class="toc-section" data-toc="3"><a href="/findings">Findings</a></li>
      </ul>
  </div>
